
.main-picture-thumbnails {
    height: 150px;
    width: auto;
}

.picture-thumbnails {
    height : 75px;
    width: auto;
}

.bg-grey {
    background-color: #e3e6ed;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.orange {
    color: #fa7a0f;
}

.wildColor {
    color: #ffad42;
}

.red {
    color:#b64426;
}

.blue {
    color: #5eb1bf;
}

.lightBlue {
    color: #dce9ef;
}

.darkBlue {
    color: #006e90;
}

.black {
    color: #252526;
}

.grey {
    color: #fcfcfc;
}

.logo{
    position: fixed;
    top:0;
    left:0;
    z-index:100;
}

.cent{
    height: 100vh;
}
